.dark-theme {
  --color-default-100: #1a1a1f;
  --color-default-200: #202027;
  --color-default-300: #25252e;
  --color-default-400: #2c2c38;
  --color-default-500: #373747;
  --color-default-600: #414155;
  --color-default-700: #48485f;
  --color-default-800: #545470;
  --color-default-900: #5b5b79;
}
