.light-theme {
  --color-default-100: #f0f0f5;
  --color-default-200: #e1e1eb;
  --color-default-300: #d2d2e1;
  --color-default-400: #c3c3d7;
  --color-default-500: #b4b4cd;
  --color-default-600: #a5a5c3;
  --color-default-700: #9696b9;
  --color-default-800: #8787af;
  --color-default-900: #7979a5;
}
